<% include partials/header %>

<div class="ui main text container segment">

      <!-- Feautured Bike Parks Section -->
        <h3>Strava Segments for Bike Park</h3>
 
        <div id="toolbar">
        </div>
        <h4>Park Name: <%= rows[0].name %></h4>
        <h4>Total Segments Listed : <%= rows.length %></h4>

        <table id = "table1" class = "table table-bordered table-hover display compact">
            <thead class="thead-inverse">
            <tr>
              <th>Segment ID</th>
              <th>Segment Name</th>
              <th>Segment URL</th>
            </tr>
          </thead>
          <tbody>
              
                <!--Build table content by iterating received object rows-->
                <% rows.forEach(function(row){ %>
                <tr>
                    <td><%= row.segment %></td>
                    <td><%= row.segmentname %></td>
                    <td><a href = "<%= row.stravaurl %>">View on Strava</a></td>
                </tr>    
                <% }) %>

          </tbody>
        </table>
         <hr>
        <p>Return to <a href="/showOnePark/<%= rows[0].park %>">Bike Park</a></p>

</div> 

    <script>
    // Initialising DataTables
        $(document).ready(function() {
          $('#table1').DataTable();
        } );    
    </script>

<% include ./partials/footer %>
