<% include ./partials/header %>

<div class = "container">
    <div class = "row">
        <div class = "col-md-3">
            <h3><strong>Bike Park Dashboard</strong></h3>
            <div class = "list-group">
                <li class = "list-group-item active">More Info</li>
                <li class = "list-group-item">Log a Visit</li>
                <li class = "list-group-item">See All Park Visits</li>
            </div>
        </div>
        <div class = "col-md-3">
            <p class = "lead">.</p>
            <div class = "list-group">
                <li class = "list-group-item">Total Challenge Visits</li>
                <li class = "list-group-item">Visits Last 7 days</li>
                <li class = "list-group-item">User Ranking</li>
            </div>
        </div>
        <div class = "col-md-6">
            <% rows.forEach(function(rows){ %>
            <div class = "thumbnail">
                <h4><a><%= rows.name %></a></h4>
                <img class = "img-responsive" src = "<%= rows.image %>">
                <div class = "caption-full">
                    <h4 class = "pull-right">$9.00/night</h4>
                    <p><%= rows.description %></p>
                    <p><em>Website: <a href = "<%= rows.website %>"><%= rows.website %></a></em></p>
                </div>
        </div>
            <!-- DIV for the Comments section below the Campground Info -->
            <div class = "well">
                <div class ="text-right">
                    <a class = "btn btn-success" href = "#">Add New Comment</a>
                </div>
             <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>

