<% include partials/header %>

     <div class="container">
        <h3><strong>My Dashboard</strong></h3>
 
        <div id="toolbar">

        </div>
        <h4>Rider Name: <%= rows[0].first_name %> <%= rows[0].last_name %></h4>
        <h4>Total Bike Park Visits : <%= rows.length %></h4>
 
        <table id = "table1" class = "table table-bordered table-hover ">
            <thead class="thead-inverse">
            <tr>
              <th>User</th>
              <th>Bike Park</th>
              <th>Date Visited</th>
            </tr>
          </thead>
          <tbody>
              
                <!--Build table content by iterating received object rows-->
                <% rows.forEach(function(row){ %>
                <tr>
                    <td id ="parkid"><%= row.user %></td>
                    <td id = "parkname"><%= row.name %></td>
                    <td id = "parkdate"><%= row.date.toDateString() %></td>
                </tr>    
                <% }) %>

          </tbody>
        </table>
    </div>
    
<% include ./partials/footer %>
