<% include ./partials/header %>

<div class = "container">
    <div class = "row">
        <div class = "col-md-3">
            <h3><strong>Park Dashboard</strong></h3>
            <div class = "list-group">
                <a href = "/showVisitsbyPark/<%= rows[0].id %>" class = "list-group-item">See All Park Visits</a>
                <a href = "/showSegments/<%= rows[0].id %>" class = "list-group-item">Strava Segments for Park</a>
                <a href = "<%= rows[0].website %>" target="_blank" class = "list-group-item">Bike Park Website</a>
            </div>
        </div>
        <div class = "col-md-9">
            <% rows.forEach(function(rows){ %>
            <div class = "thumbnail">
                <h4><a><strong> <%= rows.name %> </strong></a></h4>
                <img class = "img-responsive" src = "<%= rows.image %>">
                <div class = "caption-full">
                    <p><%= rows.description %></p>
                    <p><em>Website: <a href = "<%= rows.website %>" target="_blank"><%= rows.website %></a></em></p>
                </div>
            </div>
            <!-- DIV for the Comments section below the Campground Info -->
            <div class = "well">
                
              <!--COMMENTS SECTION GOES HERE-->
             
             <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>

