<% include partials/header %>

<div class = "container">
    <div class = "row">
        <div class = "col-md-3">
            <h3><strong>My Dashboard</strong></h3>
            <div class = "list-group">
                <a href = "#" class = "list-group-item active">Bike Park Visits</a>
                <a href = "/profile" class = "list-group-item">My Profile</a>
                <a href = "/getstarted" class = "list-group-item">Get Started</a>
                <a href = "/forgot" class = "list-group-item">Forgot Password</a>
            </div>
        </div>
        <div class = "col-md-9">
            <h4><strong>Bike Park Visits</strong></h4>
            <div id="toolbar">
            </div>
            <h5>Rider Name: <%= rows[0].first_name %> <%= rows[0].last_name %></h5>
            <h5>Total Bike Park Visits : <%= rows.length %></h5>
            
            <table id = "table1" class = "table table-bordered table-hover display compact dt-responsive" width="100%">
                    <!--<col width="100">-->
                    <!--<col width="100">-->
                <thead class="thead-inverse">
                    <tr>
                      <th>Bike Park</th>
                      <th>Date Visited</th>
                    </tr>
                </thead>

            <!--Build table content by iterating received object rows-->
                <tbody>
                    <% rows.forEach(function(row){ %>
                    <tr>
                        <td id = "parkname"><%= row.name %></td>
                        <td id = "parkdate"><%= row.date.toDateString() %></td>
                    </tr>    
                    <% }) %>
                </tbody>
            </table>
                    
        </div>
    </div>
</div>
    
    <script>
        // Initialising DataTables
        $(document).ready(function() {
          $('#table1').DataTable({
              "order": [[ 0, "desc" ]]
          });
        } );    
    </script>
    
<% include ./partials/footer %>
